<div>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @repositories %>
    <ul>
    <% @repositories.each do |repo| %>
      <li>
        <%= repo["name"] %><br>
        <%= repo["url"]%><br>
        <%= repo["description"] %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
